.header{
    display: flex;
    width: 68%;
    margin: auto;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

#title{
    font-size: 60px;
    cursor: pointer;
}

.basic-container{
    display:flex;
    width: 60%;
    margin: auto;
    margin-top: 70px;
    flex-flow:column;
    justify-content: center;
}
