<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/detail.css">
<div th:replace="fragment/header :: header"/>

    <div class="detail-container">

        <div class="top-wrapper">
            <img class="thumbnail" src="/보드카페.jpg">
            <div class="discription-wrapper">
                <p class="name" th:text="${place.name}">큐브 보드게임</p>
                <div class="discription" th:text="${place.content}">100여가지의 보드게임이 준비되어있습니다! 신나게 놀 준비 되셨나요~! 룰루 랄랄라</div>
                <p class="tel" th:text="${place.tel}"></p>
            </div>
        </div>

        <div class="item-wrapper" style="background-color: bisque;">
            <div class="item" th:each="item : ${place.items}">
                <span th:text="${item.name}">평일 이용권</span>
                <span th:text="${item.price}">10,000</span>
                <button th:onclick="paymentModalOpen('[[${item.id}]]')">구매하기</button>
            </div>
        </div>

        <img class="introduce" src="/보드1.jpg">

        <div class="information-wrapper">
            <div class="business-info" th:text="${place.info}">이용정보 1시간 10000원 2시간 15000원</div>
            <div class="menu" th:text="${place.menu}">주요메뉴 </div>
            <img class="map" src="/서울지도.jpg">
        </div>

        <hr class="line">

        <h3>[리뷰]</h3>
        <div class="review-wrapper">
            <th:block th:each="review : ${reviews}">
            <div class="review">
                <div class="review-content-wrapper">
                    <div class="user-profile">
                        <div class="user-image-outline">
                            <img class="user-image" src="/보드카페.jpg" >
                        </div>
                        <div class="user-info">
                            <b><div>최지연</div></b>
                            <div th:text="${review.regdate}">2022-02-02</div>
                        </div>
                    </div>
                    <div class="real-content" th:text="${review.content}">정말 재밌어요~! 사장님도 친절하세요! 게임 방법 상세히 설명해주시고 서비스도 주셨어요! ㅎㅎ 감사합니다</div>
                </div>
                <div class="review-image-wrapper">
                    <img class="review-image" th:src="|/${review.image}|">
                    <img class="review-image" th:src="|/${review.image}|">
                </div>
            </div>
            <hr class="review-line">
            </th:block>
        </div>



    </div>

<!--=============결제 모달 start=======================-->
<div class="modal-payment">
    <div class="payment-container">
        <span class="x" onclick="paymentModalClose()">❌</span>
        <span class="pay-top-title">결제</span>
        <hr class="pay-line1"/>
        <div class="pay-inner-box">
            <div class="pay-title">✅주문 정보</div>
            <div class="pay-item-name">평일 2시간 이용권</div>
            <div class="pay-item-price">
                20,000
            </div>
        </div>
        <hr class="pay-line2"/>
        <div class="pay-inner-box">
            <div class="pay-title">⭐주문자 정보</div>
            <div class="pay-user-name">이름 : 최지연</div>
            <div class="pay-user-email">이메일: zxkim2004@gmail.com</div>
            <div class="pay-user-tel">전화번호: 01012341234</div>
        </div>
        <button onclick="requestPay()">결제하기</button>

    </div>
</div>
<!--=============결제 모달 end=======================-->


</body>
</html>
<script src="/js/detail.js"></script>
<!-- iamport.payment.js -->
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.8.js"></script>