<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/mypage.css">
<div th:replace="fragment/header :: header"/>
<div class="basic-container">


        <div class="profile">
            <div class="user-image-outline">
                <img class="user-image" src="/뚱이.jpg">
            </div>
            <span class="nickname" th:text="${user.nickname}">zzangyeon<span class="name" th:text="${user.name}">최지연</span></span>

        </div>

        <div class="tap">
            <button class="button" onclick="location.href='/'">찜</button>
            <button class="button">나의 리뷰</button>
            <button class="button">구매 목록</button>
        </div>

        <div class="content">
            hello
        </div>



</div>
</body>
</html>
<script src="/js/detail.js"></script>